
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root
{
    --background: #141414;
    --primary: #303030;
    --secondary: #8C8C8C;
    --accent: #FF8BA6;
}

body
{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    color: #fffafa;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: var(--background);
}

.container
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.sekcija
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

.container h1
{
    margin: 0px;
    font-size: 5em;
    position: absolute;
    left: 2em;
    top: 50px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}




/*              HEADER                */


header
{
    width: 100vw;
    height: 5em;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background: var(--primary);
}

#GOTYlogo
{
    transform: scale(0.2);
    filter: invert(100%);
    translate: -35% 0;
}

.navbar
{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 0;
    width: 20em;
    height: 2em;
    gap: 2em;
    font-size: 1.5em;
}

.navbar a
{
    color: #fffafa;
    width: 3em;
    height: 1.5em;
    border-radius: 0.75em;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.navbar li a:hover
{
    color: #ffc2d0;
}

.navicons
{
    display: none;
}


@media only screen and (max-width: 920px)
{
    #GOTYlogo,
    ul.navbar
    {
        scale: 0.7;
    }
    
    ul.navbar
    {
        right: -3.5em;
    }

    #GOTYlogo
    {
        translate: -40% 0;
    }
}

@media only screen and (max-width: 650px)
{
    #GOTYlogo
    {
        scale: 0.7;
        translate: -40% 0;
    }
    
    ul.navbar
    {
        right: -3.5em;
        scale: 1;
    }

    ul.navtext
    {
        display: none;
    }

    ul.navicons 
    {
        translate: 0 0.2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 500px)
{
    ul.navicons 
    {
        gap: 1.5em;
        right: -5.5em;
    }
}

@media only screen and (max-width: 430px)
{
    #GOTYlogo
    {
        scale: 0.7;
        position: absolute;
        left: 50%;
        translate: -50% 0;
    }
    
    ul.navbar
    {
        display: none;
    }
}



/*            NASLOVNICA             */



#frontpage
{
    height: 100vh;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin-bottom: 15em;
}

.hidden
{
    translate: -100%;
    opacity: 0;
}

.container h1.mainheading
{
    font-size: 6em;
    word-spacing: 0.1em;
    width: 60%;
    left: 0.5em;
    top: 45%;
    translate: 0 -50%;
}

#highlight
{
    width: 100vw;
    height: 10em;
    background: linear-gradient( #141414 80%, #FF8BA6);
    position: absolute;
    z-index: -1;
    translate: 0 90%;
}

@keyframes slide {
    from 
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-100%);
    }
}

.slider
{
    width: 100vw;
    height: 15em; 
    display: flex;
    translate: 0 60%;
    gap: 45px;
    z-index: -1;
}

.imageslider
{
    width: 100%;
    height: 100%;
    background: var(--background);
    translate: 0 85%;
    display: flex;
    gap: 0.5em;
    animation: 65s slide infinite linear;
    /* white-space: nowrap; */
    position: relative;
}

.subslider
{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.7em;
}

.imageslider img
{
    width: 17em;
    height: 15em;
    object-fit: cover;
    filter: grayscale(70%);
}

@media only screen and (max-width: 1870px)
{
    .container h1.mainheading
    {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 1585px)
{
    .container h1.mainheading
    {
        width: 80%;
    }
}

@media only screen and (max-width: 1250px)
{
    .container h1.mainheading
    {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 935px)
{
    .container h1.mainheading
    {
        width: 90%;
    }
}

@media only screen and (max-width: 775px)
{
    .container h1.mainheading
    {
        text-align: start;
        font-size: 4em;
        padding: 0.5em;
        width: 80%;
    }
}

@media only screen and (max-width: 710px)
{
    .container h1.mainheading
    {
        text-align: start;
        font-size: 4em;
        width: 80%;
    }
}

@media only screen and (max-width: 565px)
{
    .container h1.mainheading
    {
        font-size: 3.5em;
        width: 70%;
    }
}

@media only screen and (max-width: 430px)
{
    .container h1.mainheading
    {
        font-size: 3em;
        width: 70%;
        left: 0.25em;
        top: 7.25em;
    }
}


